# =====================================
# SSH
*.pem
*.key
*.pub
id_rsa*
gh-ec2-key
gh-ec2-key.pub

# =====================================
# Terraform
# Local state files
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
.terraform/
.terraform.lock.hcl

# Variable files with secrets
*.tfvars
*.tfvars.json

# =====================================
#  Docker

**/Dockerfile~
**/docker-compose.override.yml
**/docker-compose.local.yml
**/.dockerignore
**/tmp/
**/.env
.env
.env.*

# =====================================
#   Python (Flask app)
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.egg-info/
*.egg
dist/
build/
.venv/
venv/
env/
ENV/

# =====================================
#   Tests & Reports
.coverage
htmlcov/
pytest_cache/
nosetests.xml
coverage.xml

# =====================================
#        OS / Editor files

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# =====================================
# GitHub Actions runtime temp files

**/key.pem
**/outputs.json

# =====================================
#  Misc

logs/
tmp/
.cache/
user.txt
